 p {
    color: limegreen;
    background: darkblue;
    font-weight: bold;
    text-align: center;
  }

h2 {
    color: darkblue;
    font-weight: bolder;
    text-shadow: 2px 2px grey;
    text-align: center;
}